<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar class="roundToolbar" layout="row">
            <div  class="md-toolbar-tools" >
                <md-button class="md-icon-button" href="#player">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Players</span>        
            </div>
        </md-toolbar>
         
        <md-whiteframe class="md-whiteframe-z4" layout="column" layout-padding>
            <div layout-padding>Add new player:</div>
            <form name="newPlayerForm" layout-padding>
                <md-content layout-padding>
                    <md-input-container class="md-icon-float md-block" >
                        <input ng-model="player.name"/>
                        <label>Name:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" >
                        <input ng-model="player.description"/>
                        <label>Description:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input ng-model="player.mac_address"/> 
                        <label>MAC-Address:</label> 
                    </md-input-container>                    
                </md-content>
                <div layout="row">
                    <div flex="100"></div>
                    <md-button  class="md-primary md-raised" ng-click="save(player)">
                        <md-icon class="material-icons">add_box</md-icon> 
                        Add
                    </md-buttom>
                </div>
            </form>
         </md-whiteframe>
    </div>
</div>

