<div ng-init="init()" layout="column">
   <div layout="row">
        <div flex=20></div>
        <div flex=40>
            <md-input-container class="md-block" flex-gt-xs >
                <input type="text" class="md-lg" ng-model="player_name">
                <label>Search for your player:</label>
            </md-input-container >
        </div>
        <div flex=20></div>
        <div>
            <md-button flex="500"  class="md-primary md-raised" href="#player/add_new" >Add new player</md-button> 
        </div>	
        <div flex=20></div>
    </div>
    <div layout="row">
        <div flex=15></div>
        <div flex=70  layout-padding>
            <div  layout-padding ng-cloak ng-repeat = "player in players | filter:name">
                <md-card style="background-color: #CCD9D7;"  md-theme-watch layout="row"> 
                    <md-card-title >
                        <md-card-title-text>
                        <md-button  class="md-accent" class="md-card-image" href = "#player/id={{player.id}}">
                            <span class="md-headline">{{player.name}}</span></md-button >
						    <span class="well">
                               <span class="md-subhead" id="pl_info"><b>Description:</b> {{player.description}}</span>
                                <div id="toggle">
						          <i class="fa fa-toggle-on active fa-2x" ng-if="player.status == true" ng-click="changeStatus(player);"></i>
						          <i class="fa fa-toggle-on fa-rotate-180 inactive fa-2x" ng-if="player.status == false" ng-click="changeStatus(player);"></i>
						          <i ng-if="player.status == true">ON</i>
                                  <i ng-if="player.status == false">OFF</i>
                                  </div>
						    </span> 
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row">
                        <md-button type="submit"  class=" md-mini md-warn " ng-click="delete(player)">Delete</md-buttom>
                     </md-card-actions>
                </md-card >
            </div>
            <div flex=5></div>
        </div>
    </div>
</div>
 
