<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">

        <md-toolbar class="roundBar" layout="row">
            <div class="md-toolbar-tools">
                <span>Players</span>
                <div flex=80></div>
                <div><md-button flex="500" class="md-primary md-raised md-hue-1" style="color:white" href="/#/player/add_new/">
                    <md-icon class="material-icons" style="color:white">add_box</md-icon> 
                    Add new
                </md-button></div>   
            </div>
        </md-toolbar>
   
        <div layout-padding ng-cloak ng-repeat = "player in players">
            <md-card class="listCard" layout="row"> 
                <md-card-title >
                    <md-card-title-text>
                            <p class="md-headline">{{player.name}}</p>
						    <span class="well">
                               <span class="md-subhead" id="pl_info"><b>Description:</b> {{player.description}}</span>
                                <div id="toggle">
						          <i class="fa fa-toggle-on active fa-2x" ng-if="player.status == true" ng-click="changeStatus(player);"></i>
						          <i class="fa fa-toggle-on fa-rotate-180 inactive fa-2x" ng-if="player.status == false" ng-click="changeStatus(player);"></i>
						          <i ng-if="player.status == true">ON</i>
                                  <i ng-if="player.status == false">OFF</i>
                                  </div>
						    </span> 
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="column">
                        <md-button flex="33" class="md-primary md-hue-2" href = "#player/id={{player.id}}">
                        <md-icon class="material-icons">edit</md-icon>
                            details
                        </md-button>
                        
                        <md-button type="submit" flex="33" class="md-warn" ng-click="delete(player)">
                            <md-icon class="material-icons">delete_forever</md-icon>
                            delete
                        </md-buttom>
                    </md-card-actions>
                </md-card >
            </div>
        </div>
    </div>
</div>
 
