<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
      
        <md-toolbar class="roundBar" layout="row">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#player">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Players</span>        
            </div>
        </md-toolbar>  
        <md-whiteframe class="md-whiteframe-z4" layout="column">
            <form name="newPlayerForm"  layout-padding>
                <md-content layout-padding>
                     <md-input-container class="md-icon-float md-block">
                        <input  ng-model="player.name"/>
                        <label>Change name:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input  ng-model="player.description"/>
                        <label>Change description:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input  ng-model="player.mac_address"/>
                        <label>Change MAC-Address:</label>
                    </md-input-container>       
                </md-content>
                <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
                  <div><md-button flex="100" class="md-primary md-raised" ng-click="update(player)">
                      <md-icon class="material-icons">library_add</md-icon>
                      save
                  </md-buttom></div>
                  <div flex=100></div>
                  <div><md-button flex="100"  class="md-warn" type="submit" ng-click="delete_current(player)">
                      <md-icon class="material-icons">delete_forever</md-icon>
                      delete
                  </md-buttom></div>
                </div>
            </form>
        </md-whiteframe>
    </div>
</div>

