<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal roundBar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#users">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Invitations</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex ng-repeat="invitation in invitations.results">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>email: {{invitation.email}}</h3>
                        <p>company: {{invitation.id_company.name}}</p>
                        <p>verification code: {{invitation.verification_code}}</p>
                    </div>
                    <md-button class="md-secondary md-raised md-warn" ng-if="invitation.is_active == true">active</md-button>
                    <md-button class="md-secondary md-raised" ng-if="invitation.is_active == false">used</md-button>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>
</div>
