<div ng-init="init()" layout="column">
    <div layout="row">
        <div flex="15">
            <md-button class="md-accent md-raised md-hue-1" href="#/users" class="groupX right">back</md-button>
        </div>
        <div flex=70 layout-padding>
            <div layout-padding ng-cloak ng-repeat="invitation in invitations">
                <md-card md-theme-watch layout="row">
                    <md-card-title>
                        
                        <md-card-title-text>
                            <span class="md-headline">email: {{invitation.fields.email}}</span>
                            <span class="md-subhead">id_company: {{invitation.fields.id_company}}</span>
                            <span class="md-subhead">verification_code: {{invitation.fields.verification_code}}</span>
                            <span class="md-subhead">active: {{invitation.fields.is_active}}</span>
                           
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex=5></div>
        </div>
    </div>
</div>
