<div ng-init="init()" layout="column">
    <div flex="100">
        <md-button class="md-accent md-raised md-hue-1" href="#/users" class="groupX right">back</md-button>
    </div>
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal">
            <div class="md-toolbar-tools">
                <span>Invitations</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex ng-repeat="invitation in invitations.results">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>email: {{invitation.email}}</h3>
                        <p>company: {{invitation.id_company.name}}</p>
                        <p>verification code: {{invitation.verification_code}}</p>
                    </div>
                    <md-button class="md-secondary md-raised md-warn" ng-if="invitation.is_active == true">active</md-button>
                    <md-button class="md-secondary md-raised" ng-if="invitation.is_active == false">used</md-button>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>
</div>
