<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal">
            <div class="md-toolbar-tools">
                <span>Profile</span>
            </div>
        </md-toolbar>

        <md-whiteframe class="md-whiteframe-z4"  layout="column">
            <div layout="row"  layout-align="center center" >
                <img ng-src="{{user.AdviserUser.avatar}}" alt="{{ user.AdviserUser.avatar }}" height ="140px" >
            </div>
            <form name="User"  layout-padding>
                <md-content md-theme="docs-dark"  layout-padding>
                    <md-input-container class="md-icon-float md-block">
                        <input  ng-model="user.User.first_name"/>
                        <label>First name:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input  ng-model="user.User.last_name"/>
                        <label>Last Name:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input  ng-model="user.User.email" disabled style="font:bold;"/>
                        <label>Email:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input ng-model="user.User.date_joined | date" disabled style="font:bold;" />
                        <label>Date of registration:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                       <input  ng-model="user.AdviserUser.avatar"/>
                        <label>Change Photo:</label>
                    </md-input-container>

                </md-content>
                <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
                   <div><md-button flex="100"  class="md-primary md-raised" type="submit" ng-click="update(user)">make changes</md-buttom></div>
                    <div flex=100></div>
                </div>
            </form>
            </md-whiteframe>
    </div>

