<!DOCTYPE html>
<html ng-app='itaplay' ng-cloak>
<head>
	<title>AdViser project</title>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
			 <!-- Custom style sheet -->
		<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/add_project_template.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/player_switch.css">

		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
		<!-- Roboto font CDN -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.min.js"></script>

    <!-- Android material icons-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Our custom js -->
    <script src='/static/js/app/app.js'></script>
    <script src='/static/js/app/clips/controllers/addclip-controller.js'></script>
    <script src='/static/js/app/clips/controllers/allclip-controller.js'></script>
    <script src='/static/js/app/clips/controllers/currentclip-controller.js'></script>
    <script src='/static/js/app/clips/controllers/editclip-controller.js'></script>
    <script src='/static/js/app/company/controllers/company-controller.js'></script>
    <script src='/static/js/app/projects/controllers/projects-controller.js'></script>
    <script src='/static/js/app/projects/controllers/projectsplayers-controllers.js'></script>
    <script src='/static/js/app/templates/controllers/add-template-controller.js'></script>
    <script src='/static/js/app/templates/controllers/templates-list-controller.js'></script>
    <script src='/static/js/app/templates/controllers/current-template-controller.js'></script>
    <script src='/static/js/app/player/controllers/player-controller.js'></script>
    <script src='/static/js/app/users/controllers/allusers-controller.js'></script>
    <script src='/static/js/app/users/controllers/add-user-controller.js'></script>

<!-- ON/OFF Toggle -->
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

<div class="main_wrapper">
  <div ng-include="'/static/js/app/views/header.html'"></div>
	<div ng-view></div>
</div>
<ng-include src="'/static/js/app/views/footer.html'"></ng-include>
</body>
</html>
