<!DOCTYPE html>
<html ng-app='itaplay'>
<head>
	<title>{% block title %}{% endblock %}</title>
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js'></script>
	<script src='/static/js/app/app.js'></script>
	<script src='/static/js/app/test/controllers/test-controller.js'></script>

</head>
<body>
	{% if not user.is_authenticated %}
	{% endif %}


{% block content %}
{% endblock %}

</body>
</html>