<!DOCTYPE html>
<html ng-app="itaplay" >
<head>
	<title>Create an account</title>
        <!-- Custom style sheet -->
		<link rel="stylesheet" type="text/css" href="/static/styles/register.css">
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <!-- Angular Material requires Angular.js Libraries -->
        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
          <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
          <!-- Our custom js -->
        <script src='/static/js/app/app.js'></script>
        <script src='/static/js/app/test/controllers/test-controller.js'></script>
</head>
<body >
  <h1>Invite user</h1>
  <form action="" method="post">
      {% csrf_token %}

      {{ inviteForm.as_p }}
      <input type="submit" value="Invite">
  </form>
</body>
</html>
