<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded clips -->
    {% if clips %}
        <ul>
        {% for clip in clips %}
            <li><a href="{{ clip.video.url }}">{{ clip.video.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No clips.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'clips' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.clip.label_tag }} {{ form.clip.help_text }}</p>
            <p>
                {{ form.clip.errors }}
                {{ form.clip }}
            </p>
            <p><input type="file" name="uploadFromPC" id="uploadFromPC"  title="Upload From PC" value= "Upload from PC"/></p>
            <input type='submit' value="upload"/>
        </form>
    </body>
</html>
