{% extends 'index.html%}

{% block login %}
    <div>
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <label for="username">User name</label>
            <input type="text" name="username" id="username'">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error}}</label>
            {% endif %}
            <input class="button" type="submit" value="Log in ">
        </form>
    </div>
{% endblock %}