<!DOCTYPE html>
<html ng-app="loginApp">

      <head>
          <!-- Custom style sheet -->
          <link rel="stylesheet" type="text/css" href="/static/styles/login.css">

          <!-- Angular Material requires Angular.js Libraries -->
          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>
          <!-- Our custom js -->
          <script src='/static/js/app/authentification/controllers/login-controller.js'></script>
          <script src='/static/js/app/app.js'></script>


          <!-- Angular Material Library -->
          <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>

          <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>


      </head>


      <body  ng-controller="LoginController" class="pic">

        <div layout="row">
            <div flex-offset="35" flex-sm="90" offset-sm="15" class="formBg" layout-padding>
                <form name = "form" layout-padding>
                     <md-content md-theme="docs-dark" class="content" layout-padding>
                        <md-input-container class="md-icon-float md-block">
                            <input type="email" name="username" ng-model="user_login" required>
                            <label>Email</label>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <input type="password" name="password" ng-model="user_password" required minlength="6">
                            <label>Password</label>
                            <div ng-messages="form.password.$error" ng-show="form.password.$dirty">
                                <div ng-message="minlength">Password too short!</div>
                            </div>
                        </md-input-container>

                        <div> <button type="submit" value="Log in" class="button buttonBlue" ng-click="LoginUser(user_login,user_password)"> Log in</button></div>
                     </md-content>
                </form>

            </div>

        </div>
    </body>
</html>
