<div ng-controller="AddProjectCtrl" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#projects">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Projects</span>
            </div>
        </md-toolbar>
        <md-content>
            <span flex>
                <div layout="column">
                  <form name="projectForm" ng-submit="create(project)">
                     <div layout="column">
                        <md-input-container class="md-block">
                           <input aria-label="Project name:" ng-model="project.name" required md-maxlength="30"/>
                            <label>Project name:</label>
                        </md-input-container>

                        <md-input-container class="md-block">
                           <input ng-model="project.description" required md-maxlength="150"/>
                             <label>Project description:</label>
                        </md-input-container>
                        <md-card flex layout-padding>
                          <h4>Your players:</h4>
                          <div ng-repeat="player in players">
                            <md-checkbox ng-checked="true">name: {{player.name}}; mac: {{player.mac_address}}</md-checkbox>
                            <md-divider ng-if="!$last"></md-divider>
                          </div>
                        </md-card>
                      </div>
                      <div layout="row">
                          <div flex offset="33"></div>
                          <md-button class="md-primary md-raised" href="#projects/add_project_template">Add template to project</md-button>
                          <md-button class="md-primary md-raised" ng-click="addPlayers($event)">Add project to players</md-button>
                          <md-button class="md-primary md-raised"   ng-click="create(project, players)">Create</md-button>
                          <md-button type="reset" class="md-raised md-warn" >Reset</md-button>
                      </div>
                  </form>
                </div>
            </span>
        </md-content>
    </div>
</div>
