<div ng-init="init()" layout="column" layout-padding ng-cloak>
    <div layout="row">
        <div flex=20></div>
        <div flex=60 style="background-color:  #A4C6C1; border-radius: 1%; marging = 50px;" layout-padding>
            <div>Add new project template:</div>
            <form name="newProjectTemplateForm">
                <md-content style="background-color: #FFFCF4; border-radius: 1%; marging = 50px;" layout-padding>
                    <md-select placeholder="Select template" ng-model="template" md-on-close="parseTemplate()" style="min-width: 200px;">
                        <md-option ng-value="template" ng-repeat="template in templates">{{template.template_name}}</md-option>
                    </md-select>
                </md-content>
                <div layout="column" layout-gt-sm="row" >
                    <div flex>
                        <md-content style="background-color: #FFFCF4; border-radius: 1%; marging = 50px;" layout-padding>
                            <md-select placeholder="Select area" ng-disabled="!template" ng-model="area" md-on-close="chooseClip()" style="min-width: 200px;">
                                <md-option ng-value="area" ng-repeat="area in areas">{{area.id}}</md-option>
                            </md-select>
                        </md-content>
                    </div>
                    <div flex>
                        <md-content style="background-color: #FFFCF4; border-radius: 1%; marging = 50px;" layout-padding>
                            <md-select placeholder="Select clip" ng-disabled="!area" ng-model="clip" md-on-close="assignClip()" style="min-width: 200px;">
                                <md-option ng-value="clip" ng-repeat="clip in clips">{{clip.fields.name}}</md-option>
                            </md-select>
                        </md-content>
                    </div>
                </div>
                <div layout="row" layout-padding>
                    You have selected:
                    <ul>
                        <li ng-value="area" ng-repeat="area in areas">clip with id {{area.clip_id}} for area with id {{area.id}}</li>
                    </ul>
                </div>
                <div layout="row">
                    <div flex="100"></div>
                    <md-button  class="md-primary md-raised"  type="submit" ng-click="save(areas)">Add</md-buttom>
                </div>
            </form>
        </div>
        <div flex=20></div>
    </div>
</div>

