<div ng-controller="AddProjectCtrl" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#projects">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Projects</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center">
            <span flex>
                <div layout="column">
                  <form name="projectForm" ng-submit="create(project, players)">
                     <div layout="column">

                         <md-input-container class="md-block">
                             <label>Project name:</label>
                             <input aria-label="Project name:" ng-model="project.name" md-maxlength="30" required/>
                         </md-input-container>

                         <md-input-container class="md-block">
                             <label>Project description:</label>
                             <input ng-model="project.description" md-maxlength="150" required/>
                         </md-input-container>

                         <md-card flex layout-padding ng-click="addPlayers($event)">
                             <h4>Add players:</h4>
                             <div ng-repeat="player in players">
                                <md-checkbox ng-checked="true">name: {{player.name}}; mac: {{player.mac_address}}</md-checkbox>
                                <md-divider ng-if="!$last"></md-divider>
                             </div>
                         </md-card>
                     </div>
                      <div layout="row">
                          <div flex offset="33"></div>
                          <md-button type="submit" ng-disabled="projectForm.$invalid" class="md-raised md-primary">Create</md-button>
                          <md-button type="reset" class="md-raised md-warn" >Reset</md-button>
                      </div>
                  </form>
                </div>
            </span>
            </md-whiteframe>
        </md-content>
    </div>
</div>
