<div ng-controller="EditProjectCtrl" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#projects">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Projects</span>
            </div>
        </md-toolbar>
        <md-content>
            <span flex>
                <div layout="column">
                  <form name="projectForm" ng-submit="update(project)">
                     <div layout="column">

                         <md-input-container class="md-block">
                             <input aria-label="Project name:" ng-model="project.name" required md-maxlength="30"/>
                             <label>Project name:</label>
                         </md-input-container>

                         <md-input-container class="md-block">
                             <input ng-model="project.description" required md-maxlength="150"/>
                             <label>Project description:</label>
                         </md-input-container>
                        <md-card flex layout-padding>
                          <h4>Added players:</h4>
                          <div ng-repeat="player in data">
                            <md-checkbox ng-checked="true">name: {{player.name}}; mac: {{player.mac_address}}</md-checkbox>
                            <md-divider ng-if="!$last"></md-divider>
                          </div>
                        </md-card>
                        <md-card flex layout-padding  ng-click="addPlayers($event)">
                          <h4>Add new players:</h4>
                          <div ng-repeat="new_player in new_players">
                            <md-checkbox ng-checked="true">name: {{new_player.name}}; mac: {{new_player.mac_address}}</md-checkbox>
                            <md-divider ng-if="!$last"></md-divider>
                          </div>
                        </md-card>
                        
                     </div>
                      <div layout="row">
                          <div flex offset="33"></div>
                           <md-button class="md-primary md-raised" href="#projects/add_project_template/id={{ project.id }}">Change template</md-button>
                          <md-button class="md-primary md-raised" ng-click="addProjectToPlayers(project, new_players)">Add project to chosen players</md-button>
                          <md-button type="submit" class="md-raised md-primary">Save</md-button>
                          <md-button class="md-raised md-warn" ng-click="delete(project)">Delete</md-button>
                      </div>
                  </form>
                </div>
            </span>
        </md-content>
    </div>
</div>
