<div  layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
        <md-toolbar layout="row" class="teal">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#projects">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Projects</span>
            </div>
        </md-toolbar>
        <md-content>
            <span flex >
                <div layout="row" layout-align="center">
                  <h2 >Error!</h2>
                </div>
            </span>
        </md-content>
    </div>
</div>
