<div ng-controller="TemplatesListController">
<h2>All templates</h2>
<md-button class="md-raised md-warn" ng-href="#/templates-add" class="groupX right">Add template</md-button> 
<div>
    <table>
        <thead>
            <tr>
                <th>Template name</th> 
                <th>Template content</th>
                <th>Edit</th>
                <th>Delete</th>               
            </tr>
        </thead>
        <tbody ng-repeat="item in data">
            <tr>
                <td ><a href="#/temlate/pk={{item.pk}}">{{item.fields.template_name}}</a></td>
                <td><textarea readodnly="" rows="10" cols="80" style="border:none;">
                    {{item.fields.template_content}}
                </textarea></td>
                <td><md-button>Edit</md-button></td>
                <td><md-button ng-click="delete(item)">Delete</md-button></td>
            </tr>        
        </tbody>
    </table>
</div>
</div>
