<div ng-init="init()">
   <div layout="row">
      <div flex="15">
         <md-button class="md-raised md-warn" href="#/clips" class="groupX right">Add new clip</md-button>
      </div>
   </div>
   <div layout="column" layout-align="center center">
      <div ng-repeat="clip in clips" class="clips_wrapper">
         <div layout="row">
            <div flex="30">
               <p class="clip_name">{{clip.fields.name}}</p>
            </div>
            <div flex="30">
              <object data="{{urlAmazon}}{{ clip.fields.video }}" class="all_clips">
               </object>

            </div>
            <div flex="30">
               <md-button  class="md-accent" class="md-card-image" href = "#clip/id={{clip.pk}}">
               details</md-button>
               <md-button  class="md-accent" class="md-card-image" href = "#editclip/id={{clip.pk}}">
               edit</md-button>
               <md-button ng-click="delete(clip)">delete</md-button>
            </div>
         </div>
      </div>
   </div>
</div>
