<div ng-init="init()">
   <div layout="row">
      <div flex="15">
         <md-button class="md-raised md-warn" href="#/clips" class="groupX right">Add new clip</md-button>
      </div>
   </div>
   <div layout="column" layout-align="center center">
      <div ng-repeat="item in data" class="clips_wrapper">
         <div layout="row">
            <div flex="30">
               <p class="clip_name">{{item.fields.name}}</p>
            </div>
            <div flex="30">
              <object data="{{urlAmazon}}{{ item.fields.video }}" type="image/png" class="all_clips" autoplay="false">
               </object>     
            </div>
            <div flex="30">
               <md-button  class="md-accent" class="md-card-image" href = "#clip/pk={{item.pk}}">
               details</md-button>
               <md-button  class="md-accent" class="md-card-image" href = "#editclip/pk={{item.pk}}">
               edit</md-button>
               <md-button ng-click="delete(item)">delete</md-button>
            </div>
         </div>
      </div>
   </div>
</div>

