<div  ng-init="init()" layout="column" layout-padding ng-cloak>
<div layout="column" layout-align="center center">
   <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
      <div>
         <md-button flex="100"  class="md-primary md-raised" href="/#/allclips">
         back</md-buttom>
      </div>
      <div flex=100></div>
   </div>
   <h1>{{ data[0].fields.name }}</h1>
   
   <br>
   <p>{{ data[0].fields.description }}</p>
      <div class="slide">
        <video ng-if="data[0].fields.mimetype == 'video/mp4'" ng-src="{{trustSrc(clipUrl.src)}}" class="image_current_clip" controls></video>
        <img ng-if="data[0].fields.mimetype == 'image/jpeg'" ng-src="{{trustSrc(clipUrl.src)}}" class="image_current_clip"/>
      </div>
</div>

