<header layout="row" layout-xs="column" layout-sm="column" layout-align="center start" layout-align-sm="center center" layout-align-xs="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img src="/static/images/Logo.png" class="header_logo">
        <span flex></span>

      <div class="group">      
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>search</label>
      </div>
    
    <md-button class="md-fab md-mini header_user_image" aria-label="user_image" flex-gt-xm="100">img</md-button>
    </div>
  </md-toolbar>
</header> 

<section layout="row" layout-xs="column" layout-sm="column" layout-align="center start" layout-align-sm="center center" layout-align-xs="center center">
  <md-button href="#users" class="groupX left">users</md-button>
  <md-button href="#projects" class="groupX middle">projects</md-button>
  <!-- <md-button href="#clips" class="groupX middle">add clip</md-button> -->
  <md-button href="#allclips" class="groupX middle">clips</md-button>
  <md-button class="groupX middle">players</md-button>
  <md-button class="groupX middle">messages</md-button>
  <md-button class="groupX right">templates</md-button> 
  <md-button href="#company" class="groupX right">company</md-button> 
</section>
