
<div ng-init="initadd()" layout="column" layout-padding ng-cloak>    
    <md-button href="#company/" class="groupX right">All companies</md-button> 
  <div  layout="row">
    <div flex=20></div>
    <div flex=60>
    <div>Add new:</div>
    <form name="newCompanyForm">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <md-input-container class="md-icon-float md-block" >
                <label>Logo</label> 
                <input aria-label="Logo" ng-model="company.company_logo"/>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" >
                <label>Name:</label>
                <input ng-model="company.company_name"/>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>E-mail:</label> 
                <input ng-model="company.company_mail"/> 
            </md-input-container>  
            <md-input-container class="md-icon-float md-block" >
                <label>City</label>
                <input ng-model="company.company_address"/>
            </md-input-container>  
            <md-input-container class="md-icon-float md-block" >
                <label>Phone: </label>
                <input ng-model="company.company_phone"/>
            </md-input-container>
        <md-button type="submit" ng-click="save(company, newCompanyForm)">Add</md-buttom>
    </form>
    </md-content>
    </div>
     <div flex=20></div>
</div>
</div>
