<div ng-init="initadd()" layout="column" layout-padding ng-cloak>    
    <md-button href="#company/" class="groupX right">All companies</md-button> 
    <div layout="row">
        <div flex=20></div>
        <div flex=60 style="background-color:  #A4C6C1; border-radius: 1%; marging = 50px;" layout-padding>
            <div>Add new company:</div>
            <img src="{{company.company_logo}}"  height ="55px" alt="company logo">
            <form name="newCompanyForm"  layout-padding>
                <md-content md-theme="docs-dark" style="background-color: #FFFCF4; border-radius: 1%; marging = 50px;" layout-padding>
                    <md-input-container class="md-icon-float md-block" >                        
                        <input  ng-model="company.company_name"/>
                        <label>Name:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" >
                        <input   ng-model="company.company_logo"/>
                        <label>Logo:</label> 
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" >
                        <input  ng-model="company.company_zipcode"/>
                        <label>Zipcode:</label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input  ng-model="company.company_mail"/> 
                        <label>E-mail:</label> 
                    </md-input-container>  
                    <md-input-container class="md-icon-float md-block" >
                        <input  ng-model="company.company_address"/>
                        <label>Address:</label>
                    </md-input-container>  
                    <md-input-container class="md-icon-float md-block" >
                        <input  ng-model="company.company_phone"/>
                        <label>Phone: </label>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" >
                        <input  ng-model="company.administrator"/>
                        <label>Admin: </label>
                    </md-input-container>                    
                </md-content>
                <div layout="row">
                    <div flex="100"></div>
                    <md-button  class="md-primary md-raised"  type="submit" ng-click="save(company)">Add</md-buttom>
                </div>
            </form>
        </div>
        <div flex=20></div>
    </div>
</div>

