
<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">

        <md-toolbar class="roundToolbar" layout="row">
            <div class="md-toolbar-tools">
                <span>Companies</span>
                <div flex=50></div>
                <md-input-container class="searcher">
                    <md-icon class="material-icons" style="color:#009688">search</md-icon> 
                    <input type="text" class="md-lg"  class="searchInput"  ng-model="company">
                    <span class="bar"></span>
                </md-input-container>
                <div flex=10></div>
                <div><md-button flex="500" class="md-primary md-raised md-hue-1" style="color:white" href="/#/company/add_new/">
                    <md-icon class="material-icons" style="color:white">add_box</md-icon> 
                    Add new
                </md-button></div>   
            </div>
        </md-toolbar>

        <div class="companyTop" layout="column">
            <div ng-repeat = "company in companies | filter:company">
                <md-card class="listCard" layout="row"> 
                    <md-card-title>
                        <md-card-title-media>             
                            <img class="companyLogo" ng-src="{{company.logo}}" alt="{{company.name}}">
                        </md-card-title-media>
                        
                        <md-card-title-text>
                            <span class="md-headline" >{{company.name}}</span>
                            <span class="md-subhead">{{company.zipcode}}</span>
                            <span class="md-subhead">{{company.mail}}</span>
                        </md-card-title-text>
                    
                    </md-card-title>
                    <md-card-actions layout="column">
                       
                        <md-button flex="33" class="md-primary md-hue-2" href="#company/{{company.id}}">
                            <md-icon class="material-icons">edit</md-icon>
                            details
                        </md-button>
                        
                        <md-button type="submit" flex="33" class="md-warn" ng-click="delete(company)">
                            <md-icon class="material-icons">delete_forever</md-icon>
                            delete
                        </md-buttom>
                       
                     </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>
