
<div ng-init="init()" >
    <div layout="row">
        <div layout="column" layout-padding ng-cloak ng-repeat = "company in companies">
            <md-card  md-theme-watch >
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <md-button  class="md-accent" href = "#company/id={{company.pk}}">
                                <img src="{{company.fields.company_logo}}"  alt="{{company.fields.company_name}}" >
                            </md-button >
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{company.fields.company_name}}</span>
                        <span class="md-subhead">{{company.fields.company_mail}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions >
                    <md-button type="submit"  class=" md-mini md-warn " ng-click="delete(company)">Delete</md-buttom>
                </md-card-actions>
            </md-card >
        </div>
    </div>
    <div layout="row">
    <md-button flex="500"  class="md-primary md-raised" href="#company/add_new" >Add new companie</md-button> </div>
</div>
 
