
<div ng-init="init()" ng-cloak layout-gt-sm="row" flex layout-align="center">
    <div flex-gt-sm="70">
      
        <md-toolbar class="roundToolbar" layout="row">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" href="#company">
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
                <span>Companies</span>        
            </div>
        </md-toolbar>  

        <md-whiteframe class="md-whiteframe-z4" layout="column">
            <div layout="row">
                <img class="formLogo" ng-src="{{company.logo}}" alt="company.name"> 
            </div>
            <form name="newCompanyForm" layout-padding>
                
                <md-content layout-padding>
                    <md-input-container class="md-icon-float md-block">
                        <label>Logo:</label>
                        <input type="url" name="logo" ng-model="company.logo"  ng-required="true">
                    </md-input-container>
                    
                    <md-input-container class="md-icon-float md-block">
                        <label>Zipcode:</label> 
                        <input name="zipcode" ng-model="company.zipcode" md-maxlength="20" ng-required="true">
                        <div ng-messages="newCompanyForm.zipcode.$error" ng-show="newCompanyForm.zipcode.$error">
                            <div ng-message="md-maxlength">Zipcode too long!</div>
                        </div>      
                    </md-input-container>
                    
                    <md-input-container class="md-icon-float md-block">
                        <label>Name:</label>
                        <input ng-model="company.name" ng-required="true">
                    </md-input-container>
                    
                    <md-input-container class="md-icon-float md-block">
                        <label>E-mail:</label>
                        <input type="email" name="email" ng-model="company.mail" ng-required="true" pattern="\w[\w\.-]*@[\w\.-]+\.\w{2}\w*"> 
                    </md-input-container>       
              
                    <md-input-container class="md-icon-float md-block">
                        <label>Address:</label>
                        <input  ng-model="company.address" ng-required="true">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Phone:</label>
                        <input  ng-model="company.phone" ng-required="true">                        
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Administrator:</label>
                        <md-select ng-model="company.administrator" > 
                            <md-option class="listAdmins" ng-value="user" ng-repeat="user in users">
                                <div layout="row">
                                    <div class="admin">
                                        <img class="adminImg" ng-src="{{user.avatar}}" alt="user">
                                    </div> 
                                    <div layout="column">
                                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                                        <span>{{user.username}}</span>
                                    </div>
                                </div>
                            </md-option> 
                        </md-select>               
                    </md-input-container>
          
                </md-content>
                <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
                  <div><md-button flex="100" class="md-primary md-raised" ng-disabled="!newCompanyForm.$valid" ng-click="update(company)">
                      <md-icon class="material-icons">library_add</md-icon>
                      save
                  </md-buttom></div>
                  <div flex=100></div>
                  <div><md-button flex="100"  class="md-warn" type="submit" ng-click="deleteCurrent(company)">
                      <md-icon class="material-icons">delete_forever</md-icon>
                      delete
                  </md-buttom></div>
                </div>
            </form>
        </div>
    </div>
</div>
